#pop-up-container{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;

}

#availability-popup {
    position: fixed;
    top : 18vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 60%; /* زيادة العرض */
    font-family: 'Arial', sans-serif; /* تغيير الخط */
    border: 1px solid #ddd; /* إضافة بوردر للصندوق */
    border-radius: 10px;

}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    border: 1px solid #ccc; /* إضافة بوردر للصندوق الداخلي */
    background-color: #f9f9f9; /* تغيير لون الخلفية للصندوق الداخلي */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    font-weight: bold; /* زيادة سمك الخط */
    font-size: 18px; /* تكبير حجم الخط */
}

.modal-body {
    padding: 6px;
}

.modal-footer {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #ddd;
    font-weight: bold; /* زيادة سمك الخط */
}

.modal-footer button {
    margin-left: 10px;
    padding: 10px 20px; /* زيادة حجم الزر */
    border-radius: 5px; /* إضافة زوايا مدورة للأزرار */
    background-color: #FFA633; /* لون خلفية الزر */
    color: white; /* لون النص للزر */
    font-size: 16px; /* تكبير حجم الخط للزر */
}

.details-row div,
.booking-amount {
    border: 1px solid #ddd; /* إضافة بوردر للديفات الداخلية */
    margin-bottom: 15px; /* إضافة مسافة بين الديفات */
    padding: 15px; /* إضافة حشوة داخلية للديفات */
    background-color: #fff; /* تغيير لون الخلفية للديفات */
    border-radius: 5px; /* إضافة زوايا مدورة للديفات */
}

.alert-success {
    background-color: #d4edda; /* تغيير لون الخلفية للتنبيه */
    color: #155724; /* تغيير لون النص للتنبيه */
    padding: 10px;
    border-radius: 5px; /* إضافة زوايا مدورة للتنبيه */
    font-weight: bold; /* زيادة سمك الخط للتنبيه */
}

.star-rating {
    direction: rtl;
    display: inline-block;
    font-size: 1.5em;
    position: relative;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107;
}
